@page "/game/{Name}"
@page "/game/{Name}/{GameId}"
@page "/game/{Name}/{GameId}/join"

@using Microsoft.AspNetCore.Components.Server.Circuits
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.SignalR.Client
@using SeaBattle.Components;
@using SeaBattleEngine;

@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject CircuitHandler circuitHandler

<PageTitle>Sea Battle</PageTitle>

<div class="game-container" @ref="gameContainer" tabindex="0" @onkeydown="_gameHelper.KeyDownHandler">
    <div>
        <img class="title" src="assets/seabattle-title.png" alt="Sea Battle" />
    </div>
    @if (isInitialized)
    {
        <div class="joinlink-container" hidden='@(_gameHelper.Game.Opponent.Name != "Opponent")'>
            <span>
                <span class="joinlinkLabel">Send the the following URL to your opponent:</span>
                <span class="joinlink">@joinUrl</span>
                @if (!urlCopied) {
                    <img style="height: 24px; width: 24px;" src="assets/copy_to_clipboard.png" alt="Copy to clipboard" @onclick="CopyTextToClipboard" />
                }
                else {
                    <img style="height: 24px; width: 24px;" src="assets/check.png" alt="Copy to clipboard" @onclick="CopyTextToClipboard" />
                }
            </span>
        </div>
        <div class="instructions">
            @_gameHelper.Instructions
            <span hidden="@(RestartDeclined)">
                <span hidden="@(!(_gameHelper.Game.Mode == GameMode.End && restart == null))">
                    &nbsp;Play again?
                    <input type="button" class="restartbtn" value="Yes" @onclick="e => RestartHandler(true)" />
                    <input type="button" class="restartbtn" value="No" @onclick="e => RestartHandler(false)" />
                </span>
                <span hidden="@(!(_gameHelper.Game.Mode == GameMode.End && restart != null))">&nbsp;(Waiting for @(_gameHelper.Game.Opponent?.Name ?? "opponent")...)</span>
            </span>
            <span hidden="@(!RestartDeclined)">
                &nbsp;<NavLink href='@($"Index/{_gameHelper.Game.Player.Name}")'>Go back to home</NavLink>
            </span>
        </div>
        <div class="sea-battle-container">
            <div>
                <h3>@_gameHelper.Game.Opponent?.Name</h3>
                <PlayerMap @ref="opponentMapComponent" Map="@_gameHelper.Game.Opponent?.Map" @onmouseup="_gameHelper.OpponentMapMouseUpHandler" />
            </div>
            <div>
                <h3>@_gameHelper.Game.Player.Name</h3>
                <PlayerMap @ref="playerMapComponent" Map="@_gameHelper.Game.Player.Map" @onmouseup="_gameHelper.PlayerMapMouseUpHandler" />
            </div>

            <div class="chat-container">
                <div class="chat-prompt">
                    <span class="chat-label">Chat:</span>
                    <input class="chat-input" @bind="messageInput" size="50" @onkeydown="ChatHandler" @onkeydown:stopPropagation="true" />
                </div>
                <ul class="messages" id="messagesList">
                    @foreach (var message in messages)
                    {
                        <li><MessageItem IsPlayer="@message.IsPlayer" Name="@message.Name" Content="@message.Content" /></li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
