@using SeaBattleEngine;

@* https://boxy-svg.com/app *@

@if (IsVisible)
{
    <div class="ship">
        <svg width="550px" height="550px" xmlns="http://www.w3.org/2000/svg">
            <svg x="@Xoffset" y="@Yoffset">
                <g transform="rotate(@Rotation 25 25)">
                    @if (ShipModel is Submarine)
                    {
                        <rect x="35" y="5" width="@(RectWidth - 32)" height="40" style="fill: @FillColor; stroke: @StrokeColor;" rx="3"></rect>
                        <path style="fill: @FillColor; stroke: @StrokeColor;" d="M 37 5 C -10 10 -10 40 37 45"></path>
                        <path style="fill: @FillColor; stroke: @StrokeColor;" d="M @RectWidth 5 C @(RectWidth + 45) 5 @(RectWidth + 45) 45 @RectWidth 45"></path>
                    }
                    else if (ShipModel is Carrier)
                    {
                        <rect x="5" y="5" width="@(RectWidth + 30)" height="40" style="fill: @FillColor; stroke: @StrokeColor;" rx="5"></rect>
                    }
                    else
                    {
                        <rect x="35" y="5" width="@RectWidth" height="40" style="fill: @FillColor; stroke: @StrokeColor;" rx="3"></rect>
                        <path style="fill: @FillColor; stroke: @StrokeColor;" d="M 37 5 C -10 15 -10 35 37 45"></path>
                    }

                    @for (int i = 0; i < ShipModel.Size; i++)
                    {
                        <ellipse style='fill: @(ShipModel.ZonesHit[i] ? "red" : "dimgray"); stroke: @StrokeColor;' cx="@(25 + i * 50)" cy="25" rx="10" ry="10"></ellipse>
                    }
                </g>
            </svg>
        </svg>
    </div>
}